body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}
body span {
  text-align: center !important;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 10px 10px;
}
h1 {
  text-align: center;
}
textarea {
  width: 99%;
  height: 150px;
  margin-top: 10px;
}
input,
button {
  width: 96%;
  padding: 10px;
  margin-top: 10px;
}
button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
.input-group {
  margin-bottom: 10px;
  margin-top: 10px;
}
